	body {background-color: black;opacity :1}

	.page{width:740px; max-width:95%; margin: 0 auto;}
	.section { border :1px solid black; padding: 17px ; margin-top:16px;}

	.section.recover-wallet {background-color: #101010}
	.section.generate-transaction {background-color: #101010}
	/*
	.section{display:none;}
	.section.sign-transaction{display: block}*/
	.section.sign-transaction {background-color: #101010}


	.half{width: 50%; float: left; martin :10px;}
	textarea , select , 	input	{width: 100%; padding:10px;}
	/*select	{font-size:20px;}*/

	button {width:54%; margin : auto 23% ; padding :10px; font-weight: bold ; text-transform: uppercase;}

		
	 textarea#new-tx{ height: 410px;}
	 /*textarea#new-tx{ height: 107px;}*/

	

	input[readonly] , textarea[readonly] {background-color: #d5d5d5}
	h3, h4, h5	{width: 100%; text-align: center; margin : 15px 5px; color: white; }
	.note { display:none; color: white; margin-top: 20px;}


	input[type=checkbox]{width:unset;padding:25px;}

	.btn-primary {
		margin-top: 40px;
	}

	textarea {
		/*height: auto !important;*/
		background-color: white !important;
	}
	.mnemonic-for-sign {
		/*height: auto !important;*/
	}

	a {
		color:white;
	}



	body[section="send-spend"]  #create-tx,
	body[section="staking"]  #delegate-tx,
	body[section="send-spend"]  [href="#create-tx"],
	body[section="staking"]  [href="#delegate-tx"]{display:show;}


	body[section="send-spend"]  #delegate-tx ,
	body[section="staking"]  #create-tx,
	body[section="send-spend"]  [href="#delegate-tx"] ,
	body[section="staking"]  [href="#create-tx"]{display:none;}
