	body {background-color:black;}

	p, ul, li {color: white;}
	a {color:black}
	button {width:40%;}
	.page{width:740px; max-width:95%; margin: 0 auto;}
	.section { padding: 17px ; margin-top:16px;}
	.bg-img {position: absolute; z-index: -1; opacity: 0.65;}
	/* .section.recover-wallet {background-color: #101010}  */
	/* .section.generate-transaction {background-color: #101010}  */
	#continue-tx, #continue-stake {margin-top:90px;}
	
	/* .section{display:none;} */
	.section.sign-transaction{display: block}
	.section.sign-transaction {background-color: #101010}


	.half{width: 50%; float: left;}
	textarea , select , 	input	{width: 100%; padding:10px; background-color: white !important; border-radius:10px;	}
	/*select	{font-size:20px;}*/
		
	textarea#new-tx{ height: 410px;}

	#view-tx {padding:50px;}

	input[readonly] , textarea[readonly] {background-color: #d5d5d5}
	h3, h4, h5	{width: 100%; text-align: center; margin : 15px 5px; color: white; }
	.note { display:none; color: white; margin-top: 20px;}


	input[type=checkbox]{width:unset;padding:25px;}

	.btn-primary {
		margin-top: 40px;
	}

	textarea {
		/*height: auto !important;*/
	}
	.mnemonic-for-sign {
		/*height: auto !important;*/
	}

	a {
		color:white;
	}



	body[section="send-spend"]  #create-tx,
	body[section="staking"]  #delegate-tx,
	body[section="send-spend"]  [href="#create-tx"],
	body[section="staking"]  [href="#delegate-tx"]{display:show;}


	body[section="send-spend"]  #delegate-tx ,
	body[section="staking"]  #create-tx,
	body[section="send-spend"]  [href="#delegate-tx"] ,
	body[section="staking"]  [href="#create-tx"]{display:none;}
